/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(images/libreria.png) center center/cover no-repeat fixed;

}

.centered-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container {
  width: 10vw;
  max-width: 150px;
  height: 500px;
  padding:10px;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 30px;
}

.container-inner{
  width: 80%;
}

/* content */

#title {
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-family:'Courgette', cursive;
  font-size: 1 rem;
}

#quote {
  font-size: 32px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0;
}

#author {
  width: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: 'courgette', cursive;
}

#new-quote-button {
  width: 180px;
  height: 50px;
  font-size: 20px;
}
